<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>SQL Runner – все задачи</title>
    <script src="https://telegram.org/js/telegram-web-app.js"></script> <!-- 60 kb -->
    <link href="/static/style.css" rel="stylesheet" />
</head>
<body>

    <div class="container">
        <h3>SQL Runner – все задачи</h3>
        <nav>
        {% for ex in exercises.values() %}
           <a href="/run/{{ ex.pk }}" class="link">{{ex.pk}}: {{ ex.title }}</a>
        {% endfor %}
        </nav>
    </div>

</body>

<script language="JavaScript">
</script>

</html>
